
.card {
  position: relative;
  flex: 0 0 240px;
  min-width: 300px;
  max-width: 450px;
  min-height: 350px;
  max-height: 400px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}



h4 {
  color: #fffffe;
}

.card1-background {
  background-image: url("https://images.unsplash.com/photo-1595862315115-ec8b51adacef?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGxpYnJhcnl8ZW58MHwxfDB8YmxhY2t8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
  background-size: cover;
  padding: 10rem 0 0;
}

.card2-background {
  background-image: url("https://images.unsplash.com/photo-1571598369143-81883c22ca13?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  padding: 10rem 0 0;
}

.card3-background {
  background-image: url("https://images.unsplash.com/photo-1613999286484-f808d9630453?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  padding: 10rem 0 0;
}

.card4-background {
  background-image: url("https://images.unsplash.com/photo-1618939304347-e91b1f33d2ab?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YSUyMGhlYXJ0fGVufDB8MXwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
  background-size: cover;
  padding: 10rem 0 0;
}

.card5-background {
  background-image: url("https://images.unsplash.com/photo-1515361272650-f432a9320bd8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fGFuaW1lfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=600&q=60");
  background-size: cover;
  padding: 10rem 0 0;
}

.card6-background {
  background-image: url("https://images.unsplash.com/photo-1503328427499-d92d1ac3d174?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  padding: 10rem 0 0;
}
.card7-background {
  background-image: url("../images/my_sphere.PNG");
  background-size: cover;
  padding: 10rem 0 0;
  background-position: center;
}
.card8-background {
  background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fHN1cnByaXNlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  padding: 10rem 0 0;
  background-position: center;
}
.card9-background {
  background-image: url("https://images.unsplash.com/photo-1595079836278-25b7ad6d5ddb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  padding: 10rem 0 0;
  background-position: center;
}
.card10-background {
  background-image: url("https://images.unsplash.com/photo-1523474253046-8cd2748b5fd2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  padding: 10rem 0 0;
  background-position: center;
}

.card-content {
  padding: 1.5rem;
  background: linear-gradient(hsl(0 0% 0% / 0), hsl(20 0% 0% / 0.7) 30%, hsl(0 0% 0% / 1));

}

.card-title::after {
  content: "";
  position: absolute;
  margin-top: 20px;
  height: 4px;
  background: ghostwhite;
  left: 0;
  width: 100%;
  transform-origin: left;
  transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-title {
  position: relative;

}

.card:hover,
.card:focus-within {
  transform: scale(1.05)
}

.card {
  transition: transform 500ms ease;
  overflow: hidden;
}



@media (hover) {
  .card-content {
      transform: translateY(65%);
      transition: transform 500ms ease;
  }

  .card:hover .card-content,
  .card:focus-within .card-content {
      transform: translateY(0);
      transition-delay: 500ms;

  }

  .card:focus-within .card-content {
      transition-duration: 0ms;
  }

  .card-content>*:not(.card-title) {
      opacity: 0;
      transition: opacity 500ms linear;
  }

  .card:hover .card-content>*:not(.card-title),
  .card:focus-within .card-content>*:not(.card-title) {
      opacity: 1;
      transition-delay: 1000ms;
  }

  .card-title::after {
      transform: scaleX(0);
  }
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition-delay: 0ms !important;
  }
}