* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background: rgb(12, 20, 31);
  text-transform: uppercase;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 12px;
  color: #fff;
  height: 100%;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  mix-blend-mode: exclusion;
}
.home {
  overflow: hidden;
  height: 100%;
  padding-bottom: 0;
  pointer-events: none;
}

.page {
  width: 100vw;
  position: absolute;
  transform: translate3d(0, 20%, 0);
  top: 0px;
  left: 0px;
  z-index: 0;
  background: none;
  opacity: 0;
  padding-bottom: 10vw;
  transition: 0.8s ease-in-out;
}
.page.show {
    z-index: 100;
    opacity: 1;
    transform: translate3d(0,0,0);
}
.home .titles {
  top: 50%;
  left: 50%;
  z-index: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
}

.home .page-title {
  text-transform: uppercase;
  text-align: center;
  pointer-events: none;
  font-size: 5vw;
  letter-spacing: 2.6vw;
  color: #3d5257;
  color: #F0FFFF;
  text-shadow: 0px 6px 10px #3d5257;
  text-indent: 2.6vw;
  opacity: 1;
  font-weight: 100;
  position: relative;
  top: 0;
  left: auto;
  transform: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.page-title {
  user-select: none;
  white-space: nowrap;
  position: absolute;
  top: 12vh;
  font-size: 28vh;
  font-family: futura-pt;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  pointer-events: none;
  margin: 0 auto;
  width: 100vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  letter-spacing: 2vh;
  font-weight: 100;
}

.home .page-subtitle {
    text-transform: uppercase;
    text-align: center;
    pointer-events: none;
    font-size: 1vw;
    letter-spacing: 1.8vw;
    text-indent: 1.8vw;
    position: relative;
    top: 0;
    left: auto;
    transform: none;
    padding: 0;
    margin: 0;
    position: relative;

}
.page-subtitle {
    user-select: none;
    position: relative;
    white-space: nowrap;
    pointer-events: none;
    top: 29vh;
    margin: 0 auto;
    color: ghostwhite;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    font-size: .9vw;
    text-align: center;
}
.footer-menu {
  z-index: 100;
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 10vh;
  width: 100%;
  text-align: center;
  transition: 0.4s all ease-in-out;
}

.footer-menu .menu-items {
  padding: 0;
  margin: 0;
}

.footer-menu .menu-item {
  display: inline-block;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  text-indent: 0.2vw;
  font-size: 1vw;
  opacity: 0.5;
  padding-right: 4vw;
  padding-left: 4vw;
  user-select: none;
}

@media only screen and (max-width: 801px) {
  .footer-menu {
    bottom: 5vh;
  }
  .footer-menu .menu-item {
    font-size: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    margin: 5px;
  }
  .home .page-title {
    font-size: 15vw;
  }
  .page-title {
    font-size: 10vh;
  }
  .home .page-subtitle{
    font-size: 4vw;
  }
}
.btn-outline-secondary {
    color: ghostwhite;
    border-color: ghostwhite;
}

ul.transition {
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
}

ul.transition li {
  transform: scaleY(0);
  background: white;
  width: 20%;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background: rgb(12, 20, 31);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  
}
.intro-text {
  color: rgb(227,242,255);
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}